# This is an example file. Please create a .env file in the same directory
# and add your Twitter API v2 Bearer Token.
# Do not commit the .env file to version control.

TWITTER_BEARER_TOKEN=YOUR_TOKEN_HERE
